%p#notice= notice

%p
  %b Name:
  = @project.name
%p
  %b Description:
  = @project.description
%p
  %b Location:
  = @project.location
%p
  %b Type:
  = @project.type

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
