<ul id="nav">
	<li><%= link_to 'Home', root_url %></li>
	<% unless user_signed_in? %>
		<li><%= link_to 'Log in', new_user_session_path %></li>
		<li><%= link_to 'Sign up', new_user_registration_path %></li>
	<% else %>
		<li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
		<li><%= link_to 'Profile', '#' %></li>
	<% end %>
	<li><%= link_to 'Help', static_pages_help_path %></li>
	<li><%= link_to 'FAQ', static_pages_faq_path %></li>
	<li><%= link_to 'Terms & Conditions', static_pages_t_and_c_path %></li>
</ul>